<h1>New Landmark: </h1>

<form action="/landmarks" method="POST">
  <h3>Landmark Name: </h3>
    <input type="text" name="landmark[name]" value="" id="landmark_name">

  <h3>Year Completed: </h3>
    <input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">

  <input type="submit" value="Create New Landmark">

</form>
